@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 90px;
  flex-grow: 1;
}

@media (max-width: 769px) {
  main {
    gap: 60px;
  }
}
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #FFFFFF;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
}

.logo-header {
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo-header .web {
  color: #2196F3;
}
.logo-header .studio {
  color: #212121;
}

.header-nav-item {
  display: flex;
  gap: 30px;
}
.header-nav-item a {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 0.3s ease-in-out;
}
.header-nav-item a:hover, .header-nav-item a[active] {
  color: #2196F3;
}

.header-contacts {
  display: flex;
  gap: 30px;
}

.header-contacts-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header-contacts-item:hover a, .header-contacts-item:hover svg {
  color: #2196F3;
  fill: #2196F3;
}
.header-contacts-item a {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 0.3s ease-in-out;
}
.header-contacts-item svg {
  height: 16px;
  width: 16px;
  fill: #757575;
  transition: fill 0.3s ease-in-out;
}

.menu, .menu-btn {
  display: none;
}

@media screen and (max-width: 890px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logo-header {
    font-size: 24px;
  }
  .logo-header .web, .logo-header .studio {
    color: #212121;
  }
  .header-nav-item {
    gap: 20px;
  }
  .header-nav-item a {
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 0.3s ease-in-out;
    position: relative;
  }
  .header-nav-item a:after {
    display: block;
    position: absolute;
    top: 2.7rem;
    border-radius: 4px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #2196F3;
    content: "";
    transition: width 0.3s ease-out;
  }
  .header-nav-item a:hover:after, .header-nav-item a:focus:after, .header-nav-item a[active]:after {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .header-nav-item, .header-contacts {
    display: none;
  }
  /* Гамбургер иконка */
  .menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
  }
  .menu-btn span {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    transition: all 0.5s;
  }
  .menu-btn span:hover {
    background-color: #2196F3;
  }
  .menu-btn:hover .menu-btn span {
    background-color: #2196F3;
  }
  .menu-btn span:nth-of-type(1) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(2) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .menu-btn:hover .menu-btn-line {
    background-color: #2196F3;
  }
  /* Меню, которое будет появляться */
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    padding: 15px;
    padding: 2rem;
    top: 0;
    gap: 300px;
    left: 0;
    background-color: #FFFFFF;
    border-bottom: 2px solid #212121;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menu-navigation a {
    color: #212121;
    font-size: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }
  .menu-navigation a:hover {
    color: #2196F3;
  }
  .menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .menu-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .menu-contacts-item a {
    color: #757575;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .menu-contacts-item a:hover {
    color: #2196F3;
  }
  .menu-soc-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .menu-soc-media a {
    padding: 0 10px;
    color: #2196F3;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
  .menu-soc-media .vl {
    height: 22px;
    border-left: 1px solid #757575;
  }
}
@media screen and (max-width: 480px) {
  .logo-header {
    font-size: 24px;
  }
  .logo-header .web {
    color: #2196F3;
  }
  .logo-header .studio {
    color: #212121;
  }
}
.hero {
  margin-top: 62px;
  background-image: url(../photos-studio/hero-computer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero h1 {
  width: 700px;
  color: #FFFFFF;
  text-align: center;
  font-size: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero button {
  border: 0;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero button:hover, .hero button:active {
  background-color: #FFFFFF;
  color: #2196F3;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url(../photos-studio/hero-tablet.png);
    height: 400px;
  }
  .hero h1 {
    width: 310px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: url(../photos-studio/hero-smartphone.png);
    height: 400px;
  }
  .hero h1 {
    width: 360px;
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (max-width: 424px) {
  .hero h1 {
    width: 300px;
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (max-width: 374px) {
  .hero h1 {
    width: 250px;
    font-size: 18px;
    line-height: 30px;
  }
}
.benefits {
  background-color: #FFFFFF;
}
.benefits .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.benefits .container h3 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits-item-icon {
  border-radius: 4px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.benefits-item-icon svg {
  width: 70px;
  height: 70px;
}

.benefits-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefits-item-text h4 {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.benefits-item-text p {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

@media (max-width: 1000px) {
  .benefits-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 951px) {
  .benefits .container h3 {
    font-size: 30px;
  }
}
@media (max-width: 601px) {
  .clients .container h3 {
    font-size: 26px;
  }
}
@media (max-width: 481px) {
  .benefits .container h3 {
    font-size: 26px;
  }
  .benefits-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.activity {
  background-color: #FFFFFF;
}
.activity .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.activity .container h3 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.activity-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.activity-item {
  position: relative;
  width: 1fr;
}
.activity-item img {
  width: 100%;
  height: 100%;
}
.activity-item .overflow-act {
  opacity: 0;
  position: absolute;
  top: 70%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.activity-item:hover .overflow-act {
  opacity: 1;
}

@media (max-width: 768px) {
  .activity .container {
    display: none;
  }
}
.team {
  background-color: #F5F4FA;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 2rem;
}

.our-team {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.member {
  width: 1fr;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.member img {
  width: 100%;
}

.member-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.member-text h4 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.member-text p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.member-media {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.member-media a:hover {
  background-color: #2196F3;
}
.member-media a:hover svg {
  fill: #FFFFFF;
}
.member-media svg {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 0.4s ease-in-out;
}

@media (max-width: 1101px) {
  .member-media a {
    padding: 10px;
  }
  .member-media svg {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 951px) {
  .team .container {
    padding: 50px 2rem;
  }
  .our-team {
    font-size: 30px;
  }
  .members {
    grid-template-columns: repeat(2, 1fr);
  }
  .member-media a {
    padding: 12px;
  }
  .member-media svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 601px) {
  .team .container {
    padding: 30px 2rem;
    gap: 30px;
  }
  .our-team {
    font-size: 26px;
  }
  .members {
    grid-template-columns: repeat(2, 1fr);
  }
  .member-media a {
    padding: 6px;
  }
  .member-media svg {
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 480px) {
  .team .container {
    padding: 30px 2rem;
    gap: 30px;
  }
  .our-team {
    font-size: 26px;
  }
  .members {
    grid-template-columns: repeat(1, 1fr);
  }
  .member-media a {
    padding: 10px;
  }
  .member-media svg {
    width: 20px;
    height: 20px;
  }
}
.clients {
  background-color: #FFFFFF;
}
.clients .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 90px;
}
.clients .container h3 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  gap: 30px;
}

.clietns-item {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
}
.clietns-item svg {
  fill: #AFB1B8;
  height: 50px;
}

@media (max-width: 1001px) {
  .clients-list {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 30px;
  }
}
@media (max-width: 951px) {
  .clients .container h3 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .clients-list {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 20px;
  }
}
@media (max-width: 601px) {
  .clients .container h3 {
    font-size: 26px;
  }
}
@media (max-width: 481px) {
  .clients .container h3 {
    font-size: 26px;
  }
  .clients-list {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 20px;
  }
  .clietns-item {
    padding: 10px 0;
  }
  .clietns-item svg {
    height: 40px;
  }
}
@media (max-width: 360px) {
  .clients-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 20px;
  }
  .clietns-item {
    padding: 10px 0;
  }
  .clietns-item svg {
    height: 30px;
  }
}
footer {
  background-color: #2F303A;
}
footer .container {
  padding: 60px 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: flex-start;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-contacts .logo-footer {
  font-size: 26px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-contacts .logo-footer .web {
  color: #2196F3;
}
.footer-contacts .logo-footer .studio {
  color: #FFFFFF;
}

.footer-contacts-text {
  display: flex;
  flex-direction: column;
}
.footer-contacts-text .location {
  color: #FFFFFF;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-contacts-text a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-media p {
  color: #FFFFFF;
  font-size: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-media-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-media-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.4s ease-in-out;
}
.footer-media-icons a:hover {
  background-color: #2196F3;
}
.footer-media-icons a:hover svg {
  fill: #FFFFFF;
}
.footer-media-icons svg {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 0.4s ease-in-out;
}

.footer-form {
  display: none;
}

.footer-form {
  display: none;
  gap: 20px;
}
.footer-form p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}
.footer-form-email input {
  width: 90%;
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px 16px;
}
.footer-form-email input:focus {
  border: 1px solid #2196F3;
  outline: 0;
}
.footer-form-email button {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer-form-email button:hover, .footer-form-email button:active {
  background-color: #FFFFFF;
  color: #2196F3;
}
.footer-form-email button:hover svg {
  fill: #2196F3;
}
.footer-form-email svg {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 13px;
  transition: fill 0.3s ease-in-out;
}

@media screen and (max-width: 890px) {
  footer .container {
    gap: 70px 100px;
    justify-content: center;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-contacts .logo-footer {
    font-size: 26px;
  }
  .footer-contacts .logo-footer .web, .footer-contacts .logo-footer .studio {
    color: #212121;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 583px) {
  footer .container {
    gap: 60px;
  }
}
@media screen and (max-width: 542px) {
  .footer-contacts {
    align-items: center;
  }
  .footer-media {
    align-items: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-contacts .logo-footer {
    font-size: 26px;
  }
  .footer-contacts .logo-footer .web {
    color: #2196F3;
  }
  .footer-contacts .logo-footer .studio {
    color: #FFFFFF;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form-email {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .footer-form-email {
    width: 250px;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  position: relative;
  padding: 40px;
  max-width: 528px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
  margin: 30px 15px;
  transform: scale(0);
  transition: transform 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal__box h3 {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-btn svg {
  width: 10px;
  height: 10px;
  transition: fill 0.3s ease-in-out;
}
.modal__close-btn:hover svg {
  fill: #2196F3;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.modal-form * {
  outline: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-form button {
  border: 1px solid #2196F3;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.modal-form button:hover, .modal-form button:active {
  background-color: #FFFFFF;
  color: #2196F3;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-item label {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-item input, .form-item textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px 15px;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.form-item input:focus, .form-item textarea:focus {
  border: 1px solid #2196F3;
}
.form-item textarea {
  resize: vertical;
  min-height: 100px;
}

.form-item-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  transform: scale(1);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox-label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 18px;
  height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #757575;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}
.checkbox-label::after {
  transition: transform 0.8s ease 0;
  content: "";
  color: rgb(0, 0, 0);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  transform: scale(0);
}
.checkbox-label span {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.checkbox-label a {
  color: #2196F3;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */