.bottom_footer{
    display: none;

    h4{
        text-align: center;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $siteColor;
        margin-bottom: 20px;
    }
}

.d1{
    svg{
        width: 24px;
        height: 24px;
        fill: $siteColor;
        margin-left: 13px;
        transition: fill .3s ease-in-out;
    }

    input{
        width: 412px;
        height: 16px;
        background-color: transparent;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.03em;
        color:  rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 15px 16px;

        &:active, 
        &:hover, 
        &:focus {
            outline: 0;
            outline-offset: 0;
        }
    }
}

.d1 button{
    background-color: $accentColor;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $siteColor;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 27%;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover{
        background-color: $siteColor;
        color: $accentColor;
    }

    &:hover svg{
        fill: $accentColor;
    }
}

                            /* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

                            /* SMARTPHONE */
@media screen and (min-width: 480px) and (max-width: 767px){
    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px){
    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .d1{
        input{
            width: 212px;
        }

        button{
            margin-left: 8%;
        }
    }
}