                            /* PC */
@media screen and (min-width: 1149px) and (max-width: 1200px){
    .first_table td div{
        width: 250px;
    }

    .first_table td{
        width: 250px;
    }

    .photo_ul{
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
    }

    .photo_ul img{
        width: 350px;
    }

    .clients {
        padding: 60px;
        background: white;
        height: 320px;
    }

    .clients ul{
        flex-wrap: wrap;
        gap: 30px 60px;
    }

    .clients ul div{
        width: 224px;
    }
}
                            /* PC */
@media screen and (min-width: 993px) and (max-width: 1148px){
    /* main */
    .hero {
        height: 400px;
        margin-bottom: 60px;
    }

    .first_table{
        display: flex;
        justify-content: flex-start;
        margin: 0 10% 42px;
    }
    
    .first_table tr{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px 5px;
    }
    
    .first_table td div{
        width: 354px;
    }
    
    .first_table td{
        width: 354px;
        margin: 0 0 0 15px;
    }

    .photo_ul{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
    }

    .photo_ul li{
        margin-right: 0;
    }

    .team{
        margin-top: 0;
        padding-top: 66px;
    }
    
    .our_team{
        font-size: 28px;
        margin-bottom: 32px;
    }
    
    .members{
        display: flex;
        justify-content: center;
        margin: 0 1.5%;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 66px;
    }
    
    .member{
        width: 354px;
    }

    .member img{
        width: 354px;
    }

    .clients {
        padding: 60px;
        background: white;
        height: 280px;
    }

    .clients h2{
        font-size: 28px;
        margin-bottom: 36px;
    }

    .clients ul{
        flex-wrap: wrap;
        gap: 30px 60px;
    }

    .clients ul div{
        width: 224px;
    }
}

                            /* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* header */
    .web{
        color: #000;
    }

    .container{
        justify-content: flex-start;
    }

    nav {
        width: 40%;
        margin: 0 79px;
    }
    .nav_menu {
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nav_menu li:not(:nth-child(3)){
        margin-right: 56px;
    }

    .contacts{
        flex-direction: column;
        justify-content: flex-start;
    } 

    .contacts li{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .contacts .envelope{
        margin: 0 8px 0 2px;
        width: 14px;
        height: 10px;
    }
    
    .contacts .smartphone{
        width: 10px;
        height: 14px;
    }
    
    .contacts li:nth-child(1){
        margin-right: 0;
        margin-bottom: 12px;
    }

    .contacts li:nth-child(2){
        margin-right: 9px;
    }
    .contacts a{
        font-size: 12px;
        color: #757575;
    }

    /* main */
    .hero {
        height: 400px;
        margin-bottom: 60px;
    }
    
    .hero p{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        width: 307px;
    }
    
    .hero button{
        margin-top: 37px;
    }
    
    .first_table{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 42px;
    }
    
    .first_table tr{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .first_table td div{
        width: 354px;
    }
    
    .first_table td{
        width: 354px;
    }
    
    .f_h2{
        display: none;
    }

    .photo_ul{
        display: none;
    }

    .team{
        margin-top: 0;
        padding-top: 66px;
        
    }
    
    .our_team{
        font-size: 28px;
        margin-bottom: 32px;
    }
    
    .members{
        display: flex;
        justify-content: center;
        margin: 0 1.5%;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .member{
        width: 354px;
        margin-bottom: 60px;
    }

    .member img{
        width: 354px;
    }

    .clients {
        padding: 65px 0 60px;
        background: white;
        height: 268px;
    }

    .clients h2{
        font-size: 28px;
        margin-bottom: 36px;
    }

    .clients ul{
        flex-wrap: wrap;
        gap: 30px;
    }

    .clients ul div{
        width: 224px;
    }

     /* footer */
    footer{
        height: 463px;
    }

    .adress{
        margin: 60px 178px 66px 89px;
    }
    
    .adress ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .adress li:not(:nth-child(1)){
        margin-top: 15px;
    }
    
    .adress .email{
        margin-left: 40px;
    }
    
    .adress .tel{
        margin-left: 40px;
    }

    .adress h2{
        margin: 0 0 32px 36px;
    }
    
    .media h4{
        text-align: center;
    }

    .web_2{
        color: #000;
    }
    
    .studio_2{
        color: #000;
    }

    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}  
                            /* SMARTPHONE */
@media screen and (min-width: 480px) and (max-width: 767px){
    /* header */
    .page-header{
        height: 60px;
    }

    .nav_menu{
        display: none;
    }

    .icon-menu{
        display: flex;
        fill: black;
        width: 24px;
        height: 16px;
    }

    .nav_2{
        display: none;
    }

    .container{
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* main*/
    .hero {
        background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img-page-1/header-img.png);
        margin-bottom: 60px;
        height: 400px;
    }

    .hero p{
        font-size: 28px;
        line-height: 40px;
        width: 360px;
    }

    .first_table{
        display: flex;
        justify-content: center;
        margin-bottom: 42px;
    }
    
    .first_table tr{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .first_table td div{
        width: 450px;
    }
    
    .first_table td{
        width: 450px;
    }

    .first_table td h4{
        text-align: center;
    }

    .first_table td p{
        text-align: center;
    }

    .f_h2{
        display: none;
    }

    .photo_ul{
        display: none;
    }

    .team{
        margin-top: 60px;
        padding-top: 60px;
    }

    .our_team{
        font-size: 28px;
        margin-bottom: 32px;
    }
    
    .members{
        display: flex;
        justify-content: center;
        margin: 0 1.5%;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .member{
        width: 450px;
        margin-bottom: 60px;
    }

    .member img{
        width: 450px;
    }
    
    .clients {
        padding: 65px 0 60px;
        background: white;
        height: 463px;
    }

    .clients h2{
        font-size: 28px;
        margin-bottom: 36px;
    }

    .clients ul{
        flex-wrap: wrap;
        gap: 30px;
    }

    .clients ul div{
        width: 208px;
    }

     /* footer */
    footer{
        height: 603px;
    }

    .top_footer{
        display: flex;
        flex-direction: column;
    }

    .adress{
        margin: 60px 124px;
    }

    .adress h2{
        text-align: center;
    }
    
    .adress ul{
        text-align: center;
    }
    
    .media {
        margin: 0 0 60px;
    }

    .media h4{
        text-align: center;
    }

    .media ul{
        display: flex;
        justify-content: center;
    }

    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}