h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body{
    margin: 0;
}

.page-header{
    height: 80px;
    display: flex;
    align-items: center;
}

.container{
    width: 1600px;
    margin: 0 auto;
    padding: 35px 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.web{
    color:rgba(33, 150, 243, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}

.studio{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

nav {
    width: 20%;
}

.icon-menu{
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_2{
    width: 35%;
}

.contacts{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
    transition: color .2s ease-in-out;
}

.contacts a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color .2s ease-in-out;
}

.contacts .envelope{
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: currentColor;
}

.contacts .smartphone{
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: currentColor;
}

.contacts li:nth-child(1){
    margin-right: 30px;
}

.nav_menu a:hover, .contacts a:hover, .nav_menu .page-studio{
    color: #2196F3;
}

.hero {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img-page-1/hero.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.hero p{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 700px;
}

.hero button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color .4s ease-in-out;
}

.hero a{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    transition: color .4s ease-in-out;
}

.hero button:hover{
    background-color: #FFFFFF;
}

.hero button:hover a{
    color: #2196F3;
}

.first_table{
    display: flex;
    justify-content: center;
}

.first_table tr{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.first_table td div{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.first_table svg:nth-child(1){
    width:65px;
    height: 70px;
    margin-top: 25px;
}

.first_table svg:nth-child(2){
    width:67px;
    height: 70px;
    margin-top: 25px;
}

.first_table svg:nth-child(3){
    width:70px;
    height: 53px;
    margin-top: 33px;
}

.first_table svg:nth-child(4){
    width: 55px;
    height: 60px;
    margin-top: 30px;
}

.first_table td{
    text-align: left;
    width: 270px;
}

.first_table td h4{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.first_table td p{
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    color: #757575;
}

.f_h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 90px 0 50px;
}

.photo_ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team{
    margin-top: 90px;
    background-color: rgba(245, 244, 250, 1);
    padding-top: 90px;
}

.our_team{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.members{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 90px;
}

.member{
    width: 260px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow .3s ease-in-out;
}

.member:hover{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.member ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.member li div{
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: background-color .4s ease-in-out;
}

.member li div:hover{
    background: #2196F3;
}

.member li svg{
    fill: #AFB1B8;
    transition: fill .4s ease-in-out;
}

.member li div:hover svg{
    fill: aliceblue;
}

.member li svg:nth-child(1) {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.member li svg:nth-child(2){  
    width: 20px;
    height: 16px;
    margin: 14px 12px;
}

.member li svg:nth-child(3){  
    width: 20px;
    height: 20px;
    margin: 12px;
}

.member li svg:nth-child(4){
    width: 20px;
    height: 20px;
    margin: 12px;
}

.member img{
    width: 260px;
}

.member h4{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 30px 0 10px;
}

.member p{
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.clients{
    background: white;
    height: 182px;
    padding: 94px 0;
}

.clients h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 54px;
}

.clients ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.clients ul div{
    width: 168px;
    height: 88px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .4s ease-in-out;
}

.clients li svg{
    fill: #AFB1B8;
    transition: fill .4s ease-in-out;
}

.clients li:nth-child(1) svg{
    width: 40px;
    height: 50px;
}

.clients li:nth-child(2) svg{
    width: 40px;
    height: 52px;
}

.clients li:nth-child(3) svg{
    width: 41px;
    height: 42px;
}

.clients li:nth-child(4) svg{
    width: 79px;
    height: 42px;
}

.clients li:nth-child(5) svg{
    width: 59px;
    height: 47px;
}

.clients li:nth-child(6) svg{
    width: 88px;
    height: 45px;
}

.clients ul div:hover{
    border: 1px solid rgba(33, 150, 243, 1);
}

.clients ul div:hover svg{
    fill: rgba(33, 150, 243, 1);
}

footer{
    background: #2F303A;
    height: 252px;
}

.top_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.adress{
    margin: 60px 156px 60px 215px;
}

.adress li:not(:nth-child(1)){
    margin-top: 9px;
}

.adress .email{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress .tel{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.adress .place{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.adress h2{
    margin-bottom: 20px;
}

.web_2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.studio_2{
    font-family: 'Roboto';
    font-weight:700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.media {
    margin: 72px 0 100px;
}

.media ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.media h4{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.media ul div{ 
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color .4s ease-in-out;
}

.media li{
    margin-right: 10px;
}

.media ul svg{
    margin: 12px;
    fill: white;
    width: 20px;
    height: 20px;
}

.media li svg:nth-child(3){
    margin-left: 17px;
}

.media li div:hover{
    background-color: #2196F3;
}

.bottom_footer{
    display: none;
}

.bottom_footer h4{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.d1 input{
    width: 444px;
    height: 46px;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color:  rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* margin-left: 21%; */
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.d1 button{
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 27%;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.d1 button:hover{
    background-color: #FFFFFF;
    color: #2196F3;
}

.d1 svg{
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 13px;
    transition: fill .3s ease-in-out;
}

.d1 button:hover svg{
    fill:#2196F3;
}