                        /* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* header */
    .web{
        color: #000;
    }

    .container{
        justify-content: flex-start;
    }

    nav {
        width: 40%;
        margin: 0 79px;
    }

    .nav_menu {
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nav_menu li:not(:nth-child(3)){
        margin-right: 56px;
    }

    .contacts{
        flex-direction: column;
        justify-content: flex-start;
    } 

    .contacts li{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .contacts .envelope{
        margin: 0 8px 0 2px;
        width: 14px;
        height: 10px;
    }
    
    .contacts .smartphone{
        width: 10px;
        height: 14px;
    }
    
    .contacts li:nth-child(1){
        margin-right: 0;
        margin-bottom: 12px;
    }

    .contacts li:nth-child(2){
        margin-right: 9px;
    }
    .contacts a{
        font-size: 12px;
        color: #757575;
    }

    /* main*/
    .table{
        margin: 0 1.5% 94px;
        width: 97%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .product {
        width: 352px;
    }

    .overflow{
        padding: 63px 24px;
        width: 304px;
        height: 166px;
        bottom: 110px;
    }

    .first-p:hover .overflow, .second-p:hover .overflow{
        opacity: 1;
        bottom: 146px;
    }

    .first-p{
        height: 438px;
    }

    .second-p{
        height: 438px;
    }

    .product img{
        width: 352px;
        height: 292px;
    }
    
     /* footer */
    footer{
        height: 463px;
    }

    .adress{
        margin: 60px 178px 66px 89px;
    }
    
    .adress ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .adress li:not(:nth-child(1)){
        margin-top: 15px;
    }
    
    .adress .email{
        margin-left: 40px;
    }
    
    .adress .tel{
        margin-left: 40px;
    }

    .adress h2{
        margin: 0 0 32px 36px;
    }
    
    .media h4{
        text-align: center;
    }

    .web_2{
        color: #000;
    }
    
    .studio_2{
        color: #000;
    }

    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* SMARTPHONE */
@media screen and (min-width: 480px) and (max-width: 767px){
    /* header */
    .page-header{
        height: 60px;
    }

    .nav_menu{
        display: none;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }

    .icon-menu{
        display: flex;
        fill: black;
        width: 24px;
        height: 16px;
        transition: fill .2s ease-in-out;
    }

    .icon-menu:active{
        fill:#2196F3;
    }

    .nav_2{
        display: none;
    }

    .container{
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* main*/

    .charter{
        width: 92%;
        margin: 60px 4% 40px;
        flex-wrap: wrap;
    }

    .product {
        width: 448px;
    }

    .overflow{
        padding: 77px 24px;
        width: 400px;
        height: 140px;
        bottom: 110px;
    }

    .product img{
        object-fit: cover;
        width: 448px;
        height: 292px;
    }

    /* footer */
    footer{
        height: 603px;
    }

    .top_footer{
        display: flex;
        flex-direction: column;
    }

    .adress{
        margin: 60px 124px;
    }

    .adress h2{
        text-align: center;
    }
    
    .adress ul{
        text-align: center;
    }
    
    .media {
        margin: 0 0 60px;
    }

    .media h4{
        text-align: center;
    }

    .media ul{
        display: flex;
        justify-content: center;
    }

    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px){
    /* header */
    .page-header{
        height: 60px;
    }

    .nav_menu{
        display: none;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }

    .icon-menu{
        display: flex;
        fill: black;
        width: 24px;
        height: 16px;
        transition: fill .2s ease-in-out;
    }

    .icon-menu:active{
        fill:#2196F3;
    }

    .nav_2{
        display: none;
    }

    .container{
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* main*/
    .charter{
        width: 92%;
        margin: 60px 4% 40px;
        flex-wrap: wrap;
    }

    .table {
        margin: 0 0 60px;
        width: 100%;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .product {
        position: relative;
        width: 248px;
        height: 348px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        transition: box-shadow .3s ease-in-out;
    }

    .product img{
        width: 248px;
        height: 198px;
    }

    .overflow{
        padding: 10px 10px;
        width: 228px;
        height: 178px;
        bottom: 152px;
        font-size: 12px;
    }

    /* footer */
    footer{
        height: 603px;
    }

    .top_footer{
        display: flex;
        flex-direction: column;
    }

    .adress{
        margin: 60px auto;
    }

    .adress h2{
        text-align: center;
    }
    
    .adress ul{
        text-align: center;
    }
    
    .media {
        margin: 0 0 60px;
    }

    .media h4{
        text-align: center;
    }

    .media ul{
        display: flex;
        justify-content: center;
    }

    .bottom_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .d1 input{
        width: 212px;
    }

    .d1 button{
        margin-left: 8%;
    }
}