.benefits{
    background-color: $siteColor;

    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        h3{
            color: $mainColor;
            text-align: center;
            font-size: 36px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.08px;
        }
    }
} 

.benefits-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.benefits-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benefits-item-icon{
    border-radius: 4px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;

    svg{
        width: 70px;
        height: 70px;
    }
}

.benefits-item-text{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4{
        color: $mainColor;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    p{
        color: $textColor;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
}

@media (max-width: 1000px){
    .benefits-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 951px){
    .benefits .container h3{
        font-size: 30px;
    }
}

@media (max-width: 601px){
    .clients .container h3{
        font-size: 26px;
    }
}

@media (max-width: 481px){
    .benefits .container h3{
        font-size: 26px;
    }

    .benefits-list{
        grid-template-columns: repeat(1, 1fr);
    }
}