.web{
    color: $accentColor;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}

.studio{
    color: $mainColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

                            /* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* header */
    .web{
        color: $mainColor;
    }
}

.web_2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $accentColor;
}

.studio_2{
    font-family: 'Roboto';
    font-weight:700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $siteColor;
}

                            /* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .web_2{
        color: $mainColor;
    }

    .studio_2{
        color: $mainColor;
    }
}